<ul>
	<!--<li><%= link_to '首頁', root_path %></li>-->
	<%= nav_li '首頁', root_path %>
	<%= nav_li '關於', about_path %>
	<%= nav_li '樂透', math_path %>
	<%= nav_li '表單', form_path %>
</ul>
<% line_number.times do %>
<hr>
<% end %>